.auth-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.auth-container form {
  width: 320px;
  display: flex;
  flex-direction: column;
}

.auth-container input {
  padding: 10px;
  margin-bottom: 12px;
}

.auth-container button {
  padding: 10px;
  background: #4f46e5;
  color: white;
  border: none;
  cursor: pointer;
}

.auth-container span {
  color: #4f46e5;
  cursor: pointer;
}

.error {
  color: red;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background: white;
  padding: 20px;
  width: 350px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.modal-content input {
  margin-bottom: 10px;
  padding: 8px;
}

.modal-content button {
  margin-top: 5px;
}
